body {
    padding: 0;
    margin: 0;
    font-family: 'Anek Latin', sans-serif;
}


.bg-dark{background-color: #000 !important;}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* .nav-style{position: fixed; width: 100%;z-index: 1;} */
.navbar-nav .nav-link{font-size: 20px;font-weight: 300;text-transform: uppercase;}
.btn-primary{
  border-radius: 10px;
  background: var(--gradiet, linear-gradient(95deg, #BF1AA5 1.7%, #FF8785 92.88%));
  border: none;
  padding: 12px 22px;
  font-size: 18px;
  font-weight: 300;
  transition: 0.2s;
}

.btn-primary:hover{
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #BF1AA5;
}

/* index style start */

.home-nav .nav-link{color: #fff !important;}
.hero-content{color: #fff;}
.hero-content h1{font-size: 85px;font-weight: 400;margin: 0;}
.hero-content h6{font-size: 40px;font-weight: 200;max-width: 470px;margin: 0;}
.hero-content a{display: flex;align-items: center;}
.btn-light{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.2s;
}
.btn-light:hover{
  box-shadow: 0 0 0 3px #000,
  0 0 0 5px #fff;
  border-radius: 10px;
}

.btn-outline-dark{
  border-width: 2px;
  border-style: solid;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  color: #fff;
  border-color: #BF1AA5;
  /* background-clip: padding-box;
  border-image-source: linear-gradient(95deg, #BF1AA5 1.7%, #FF8785 92.88%); */
  border-image-slice: 1;
	background-origin: border-box;
	background-clip: content-box, border-box;
  box-sizing: border-box;
  transition: 0.2s;
}

.btn-outline-dark:hover {
  box-shadow: 0 0 0 3px #333, 0 0 0 5px #BF1AA5;
  background-color: #000 !important;
}
.btn-dark{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  transition: 0.2s;
}
.btn-dark:hover{
  box-shadow: 0 0 0 3px #fff,
  0 0 0 5px #111;
  border-radius: 10px;
}
.navbar{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
  width: 200px;
}
.activepage{
  border-bottom: 2px solid #BF1AA5 !important;
}
.home-nav .logo-head,.home-nav .logo-sub-head{
  color: #fff;
}
.home-banner{
  padding: 180px 0px;
}

.logo-head{
 
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 10px;
  line-height: 2.4rem;
}
.logo-sub-head{
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 9px;
}
header{
  padding: 20px 0px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

/*--- sticky style ---*/

.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
background: #fff;
  animation: slideDown 0.2s ease-out;
  width: 100%;
  top: 20;
  z-index: 9;

}


.page-header.is-sticky .nav-link{
  color: #212529 !important;
  font-size: 17px;
  font-weight: 400;
}
.page-header.is-sticky 

.page-header.is-sticky img {
  max-width: 80%;
}
.page-header.is-sticky .logo-head{
  color: #000;
  font-size: 30px;
  letter-spacing: 7PX;
}

.page-header.is-sticky .logo-sub-head{
  color: #000;
  font-size: 20px;
  letter-spacing: 5px;
}

.page-header.is-sticky button {
  font-size: 14px;
  padding: 7px 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}



/*--- end ---*/


.about-text{
  max-width: 720px;
  margin: auto;
  text-align: center;
}
.text-gradient{
  background-image: var(--gradiet, linear-gradient(95deg, #BF1AA5 1.7%, #FF8785 92.88%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.about-text h6{font-size:35px;font-weight: 200;}
.interactions{background: #F7F1FF;border-radius: 50px;}
.services .inner-content{padding: 40px;}
.inner-content h4{font-size: 49px;font-weight: 500;}
.inner-content p{font-size: 21px;font-weight: 300;color: #545454;;}
.dg-brand{background: #FFF5EE;border-radius: 50px;}
.client-reach{background: #FFF1F1;border-radius: 50px;}
.new-client{position: absolute;left: -80px;}
.revenue-inc{position: absolute;right: -45px;bottom: -50px;border-radius: 14px;}
.products-wrapper{margin-top: 80px;}
.products-wrapper .inner-content p{max-width: 765px;margin: auto;}
.outline-gradient{
  background-image: url(../images/gradient-bg.png);
  background-repeat: no-repeat;
  height: 25px;
  display: block;
  background-position: center;
}
.fileflow-wrapper{
  background-image: url(../images/fileflw.jpg);
  background-repeat: no-repeat;
  height: 680px;
  background-size: cover;
  border-radius: 25px;
  padding: 35px;
}


.sdk-warpper{
  background-image: url(../images/sdklogin.jpg);
  background-repeat: no-repeat;
  height: 680px;
  background-size: cover;
  border-radius: 25px;
  padding: 35px;
}
.fileflow-wrapper p,.sdk-warpper p{
  color: #fff;
  max-width: 330px;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
.fileflow-wrapper a,.sdk-warpper a{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.fileflow-wrapper .material-symbols-outlined,.sdk-warpper .material-symbols-outlined{
  font-size: 32px;
}
.explore-wrapper{
  background: #FDFAFF;
  margin-top: 60px;
}
.circle-bg{
  background-image: url(../images/circle-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.explore-wrapper .inner-content h3{
  font-size: 80px;font-weight: 400;max-width: 430px;margin-bottom: 0;
}
.explore-wrapper .inner-content p{
  max-width: 485px;
}
.store-wrapper h4{max-width: 400px;}
.store-wrapper p{max-width: 525px;}

footer ul{list-style: none;padding: 0px;margin-bottom: 0;}
footer li i{font-size: 25px;border-radius: 8px;}
footer .btn-primary{
  padding: 0px 10px;
  font-size: 14px;
  border-radius: 35px;
}
footer li p{ font-size: 13px;}
a{text-decoration: none;color: #000;}
footer .menu li{font-size: 15px;font-weight: 300;color: #1E1E1E;}
footer .menu h6{font-size: 14px;font-weight: 600;}
.copy-right{color: #868686;font-size: 14px;font-weight: 400;margin: 0;}
.footer-info{font-size: 19px;font-weight: 300;max-width: 400px;}
.social-media li{
  transition: all 0.2s ease-in-out;
}
.social-media li:hover{
  transform: scale(1.2);
}
.dz-message{
  font-size: 20px;
  color: #1E1E1E;
  font-family: 'Anek Latin', sans-serif !important;
  font-weight: 400;
}
footer{  
  border-top-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(95deg, #BF1AA5 1.7%, #FF8785 92.88%);
  border-image-slice: 1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box; }

  .siq_bR {
    bottom: 10px !important;
  }

/*-- index style end --*/

/*-- about style start --*/
.about-tophead{
  padding-top: 150px;
}

.nav-link{color: #1E1E1E !important;}
.about-head{
  background: #F7F1FF;
  padding: 40px;
  border-radius: 35px;
}
.about-head small{font-size: 30px;}
.about-head .inner-content h1{font-size: 49px;font-weight: 400;}
.about-head .inner-content p{max-width: 545px;}
.about-head .about-info h5{font-size: 55px;}
.about-head .about-info p{font-size: 21px;margin: 0;font-weight: 400;}
.abt-circle{
  background-image: url(../images/about-circle.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: contain;
  display: flex;
  align-items: center;
}
.explore-head h2{
  font-size: 70px;
  margin: 0;
}
.explore-head p{
max-width: 525px;
margin: auto;
color: #545454;
font-size: 24px;
}
.join-team{
  background-image: url(../images/jointeam.jpg);
  height: 380px;
  background-repeat: no-repeat;
  border-radius: 35px;
  display: flex;
  align-items: center;
  margin: 70px 0px;
}
.join-team .inner-content{
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.abt-services .inner-content{
  padding: 40px;
}


/*-- about style end --*/


/*--- products style ---*/

.products-banner-bg{
  background-image: url(../images/pro-banner.jpg);
  height: 990px;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-topcontent h1{
 font-size: 68px;
 font-weight: 400;
}
.inner-topcontent p{
  font-size: 23px;
  color:#545454;
  font-weight: 300;
}
.products-banner-bg .inner-topcontent p{
 max-width: 545px;
}
.fileflow-body{
  margin: 70px 0px;
}
.solutions li{
  display: flex;
  gap: 15px;
}
.solutions li:nth-child(1) span {
  background: url(../images/brand.png) no-repeat;
  width: 275px;
  height: 65px;
  background-size: contain;
}
.solutions li:nth-child(2) span {
  background: url(../images/hands.png) no-repeat;
  width: 275px;
  height: 65px;
  background-size: contain;
}
.solutions li:nth-child(3) span {
  background: url(../images/security.png) no-repeat;
  width: 275px;
  height: 65px;
  background-size: contain;
}
.solutions .seemless-collab {
  background: url(../images/lrgfiles.png) no-repeat;
  width: 275px;
  height: 65px;
  background-size: contain;
}
.solutions .inner-content h5{
  font-size: 30px;
}
.content-wrapper{
  max-width: 730px;
  margin: auto;
}

.inner-content h2{
  font-size: 40px;
  font-weight: 500;
  /* margin: 0; */
}
.products-store{
  background-image: url(../images/ourproducts.jpg);
  height: 380px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.products-store p{
  max-width: 545px;
  margin: auto;
}


/*--- products style ends ---*/

/*--- contact style start ---*/
.close-btn .btn-close,
.career-banner .btn-close{
  background: url("../images/cancel.svg") center/2em auto no-repeat !important;
  border-radius: 50%;
  opacity: 0.70;
  height: 20px;
  width: 20px;
}

.close-btn .btn-close{
  position: absolute;
  right: 10px;
  top: 10px;
}


.career-banner .modal-content{
  border-radius: 15px;
}

.career-banner .modal-header{
  border-bottom: none;
}

.career-banner .modal-body .inner-content button{
  position: absolute;
  right: 0;
}

label.error{
  color: red !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.contact-banner-form{
  background-image: url(../images/contact-banner.png);
  height: 995px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-bottom: 225px;
}
.contact-banner-form .card{
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 25.7px 0px rgba(0, 0, 0, 0.09);
  margin-top: 100px;
}
.card input,.card select,.card textarea{
  border-color: #C6C6C6 !important;
  border-radius: 8px;
}
.dropzone{
  border: 1px solid #C6C6C6 !important;
  border-radius: 8px;
}
.uploaded-resume p{
  background: #ffe9fc;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  color: #000;
  border: 1px solid #e922c9;
  margin-bottom: 0px;
  font-weight: 300;
}
.card label{
  font-weight: 200;
  font-size: 20px;
  color: #1E1E1E;;
}
.card .required{
  font-weight: 500;
  color: red;
}

.content.process-card:hover{
  transform: scale(1.05);
}

.btn-danger:focus{
  box-shadow: none !important;
}


.country-dropdown select{
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faq{
  background-image: url(../images/faq-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0px;
  margin-top: 240px;
}

.accordion-button{
  border-radius: 32px !important;
  background: #FFF !important;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07) !important;
  padding: 35px;
  font-size: 30px;
  font-weight: 500
}

.accordion-item { 
  background-color: none !important;
  border: none !important;
}

.faq .inner-content{
  position: relative;
  /* margin: 40px 0px 40px 40px; */
}
.faq .blue-star{
 position: absolute;
 left: 0;
}
.faq .red-star{
  position: absolute;
  right: 0;
  bottom: 0;
}
 .accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #fff !important;
}

.inner-content h3{
  font-size: 50px;
}
.accordion-item{
  background: transparent;
}
.accordion-body p{
  border-bottom: 1px solid #DC92EF;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 10px 0px;
  margin: 0;
}
/* .accordion-button::after{
  background-image: url(../images/expand_more.png) !important;

}
.accordion-button:not(.collapsed)::after{
  background-image: url(../images/expand_less.png) !important;

} */

/*--- contact style ends ---*/



/* team style start */

.TeamBody  .inner-content h3{
  font-size: 40px;
  font-weight: 500;
}

.leaderPopUp ul{
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}
.leaderPopUp .teamMemberImg{
  max-width: 50%;
}

.leaderPopUp small span{
  font-size: 20px;
}

.leaderPopUp{
  border-radius: 20px !important;
  overflow: hidden !important;
}
.leaderPopUp .inner-content p{
  font-size: 18px;
  max-width: 400px;
  padding: 15px 10px 0px 0px;
}
.leaderPopUp .modal-content{
  border-radius: 20px !important;
  overflow: hidden !important;
}

.leaderPopUp .modal-body.TeamBody{
  background-image: url(../images/team_bg.png);
  height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
 .modal-lg.leaderPopUp {
    max-width: 915px;
  }

.our-leadership .leaderInfo{
  max-width: 250px !important;
  cursor: pointer;
}

.team-banner{
  background-image: url(../images/contact-banner.png);
  height: 1060px;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-banner p{
  max-width: 540px;
  margin: auto;
}
/* .solutions-wrapper{
  margin-top: -104px;
} */
.solutions-card{
  margin-right: -40px;
  position: relative;
  z-index: 1;
}
.solutions-card::before{
  content: '';
  background-image: url(../images/vio-circle.png);
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: -1;
  left: -80px;
  top: -80px;
  background-repeat: no-repeat;


}

.solutions-card .inner-content{
  background: #fff;
  padding: 35px;
  border-radius: 24px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.dev-future{
  background-image: url(../images/dev-future.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  display: flex;
  margin: 60px 0px;
}
.dev-future .inner-content{
  max-width: 635px;
  margin: auto;
  text-align: center;
  padding: 25px;
}
.team-card{
  padding: 90px 0px 0px;
  margin-left: -45px;
  position: relative;
}
.team-card::before{
  content: '';
  background-image: url(../images/rose-cut.png);
  height: 295px;
  width: 295px;
  position: absolute;
  right: -95px;
  top: -30px;
  z-index: -1;
}
.our-team .inner-content{
  background: #fff;
  padding: 35px;
  border-radius: 24px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.speech-bubble {
  background: #010101;
  margin-top:3rem;
  margin-bottom:3rem;
  padding: 2rem 3rem 3rem 3rem;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  text-align: right;
  font-style: italic;
  border-radius: 20px
}


.speech-bubble cite {
  left: 4.5rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  display:block;
  text-align:center;
  letter-spacing: 0.5px;
  color: #fff;
}
.speech-bubble .quot-left{font-size: 7rem;  line-height: 0px; font-family:Arial, Helvetica, sans-serif !important;  text-align: left;}
.speech-bubble .quot-right{font-size: 7rem;  line-height: 0px; font-family:Arial, Helvetica, sans-serif !important;text-align: right; margin-top: -5px; display: block;}

/*------careers-page-----*/
.career-banner {
  padding-top: 200px;
  position: relative;
  overflow: hidden;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}
.content.process-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
  transition: all 0.2s ease-in-out;
}

.Recruitment {
  margin-top: 150px;
}
.process-card img{
  width: 50px;
  height: 100%;
}
.process-card h3 {
  color: #1E1E1E21;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.process-card h4{
  color: #1E1E1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 13px;
}

.process-card p{
  color: #545454;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
.careers-txt{
  max-width: 75%;
  height: auto;
}
.opens {
  margin-top: 100px;
  margin-bottom: 100px;
}
.bg-style{
  position: absolute;
  right: -770px;
  z-index: -1;
  top: -370px;

}
.bg-an{
  animation: bg-an 200s infinite;
}
@keyframes bg-an {
  50% {transform: rotate(360deg);}
}
.bg-style-b{
  position: absolute;
  left: -789px;
  z-index: -1;
  bottom: -387px;
  width: 79%;
  opacity: 0.9;
}

/*----end--careers-page-----*/

/*---- projects style ---*/


.projects-banner{
  background-image: url(../images/pro-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.projects-banner-r img{
  background: linear-gradient(0deg, #FFF1F1 0%, #FFF1F1 100%), #FFB6BE;
  box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  width: 80%;
}
.projects-banner .inner-topcontent{
  max-width: 590px;
  margin: auto;
  padding: 85px 0px;
}
.projects-banner-container{
  padding-top: 180px;
}
.software-solutions{
  margin: 80px 0px;
}
.software-solutions .inner-content.solutions-head{
  max-width: 725px;
  margin: auto;
  text-align: center;
}
.software-solutions .inner-content.solutions-head h4{
  font-weight: 400;
}
.inner-content h6{
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.software-solutions .inner-content.solutions-innerhead{
  max-width: 320px;
  margin: auto;
}
.software-solutions .row{
  --bs-gutter-y: 1.5rem;
}
.software-solutions .inner-content h2{
  font-weight: 400;
}
.need-help{
  background-image: url(../images/help-bg.png);
  height: 380px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.need-help p{
  max-width: 760px;
  margin: auto;
}
.inner-wrapper-childone{
  background: #92EF9B;
  border-radius: 48px;
  border: 6px solid #E8FFE0;
  display: inline-flex;
  padding: 5px 15px;
  color: #fff;
}
.inner-wrapper-childtwo{
  border-radius: 48px;
  border: 6px solid #EAE0FF;
  background: #B092EF;
  display: inline-flex;
  padding: 5px 15px;
  color: #fff;
}
.inner-wrapper-childthree{
  border-radius: 48px;
  border: 6px solid #FFEFD7;
  background: #FFCC90;
  display: inline-flex;
  padding: 5px 15px;
  color: #fff;
}
.inner-wrapper-childfour{
  border-radius: 48px;
  border: 6px solid #FFE0E0;
  background: #EF9292;
  display: inline-flex;
  padding: 5px 15px;
  color: #fff;
}

/*--- projects style end ---*/

/* teams */

.our-leadership{
  margin-top: -125px;
  margin-bottom: 140px;
}
.our-leadership .inner-content{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.our-leadership .inner-content h4{font-weight: 400;}
.our-leadership .inner-content p{
  font-size: 19px;
}


/*---- privacy policy ----*/

.cms-wrapper{
  padding: 150px 0px 50px;
}
.highlights {
  border: 1px solid #000;
  padding: 20px 20px 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.cms-wrapper p {
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 300;
}
.flogo{max-width: 200px;}

/* .modal-body button{
  position: absolute;
  right: 9px;
  top: 9px;
} */

/* #swizzlelogoscroll {
  display: none;
}

.navbar.scrolled #swizzlelogo {
  display: none;
}

.navbar.scrolled #swizzlelogoscroll {
  display: block;
} */




@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .projects-banner-r img {
    width: 79%;
  }
}

@media (max-width: 1399.98px) {

  /*-----careers-page-----*/
  .bg-style {
    right: -940px;
  }
  .bg-style-b {
    left: -632px;
    bottom: -105px;
  }
  /*----end--careers-page-----*/
  /* index start */

  .hero-content h1 {
    font-size: 72px;
  }

  .hero-content h6 {
    font-size: 30px;
  }
  .about-text h6 {
    font-size: 35px;
  }
  .fileflow-wrapper p, .sdk-warpper p {
    font-size: 20px;
    max-width: 400px;
  }
  .fileflow-wrapper a, .sdk-warpper a {
    font-size: 22px;
  }
  .fileflow-wrapper .material-symbols-outlined, .sdk-warpper .material-symbols-outlined {
    font-size: 27px;
  }
  .fileflow-wrapper,.sdk-warpper {
    height: 490px;
  }
  .fileflow-wrapper .innerlogo,.sdk-warpper .innerlogo{
    width: 50%;
  }
  .explore-wrapper .inner-content h3 {
    font-size: 60px;
    max-width: 335px;
  }
  .new-client,.revenue-inc{width: 30%;}
  .revenue-inc{right: 0px;
    bottom: -25px;}

  .services .inner-content h4{
    font-size: 36px;
  }

  /* index end */

    /* about style */

    .about-head .inner-content h1 {
      font-size: 40px;
    }
    .about-head .about-info h5 {
      font-size: 40px;
    }
    .about-head .about-info p {
      font-size: 15px;
    }
  
    /* about style end */

    .projects-banner{
      background-image: url(../images/pro-banner-tab.jpg);
    }

    .contact-banner-form{
      margin-bottom: 330px;
    }

    .solutions li:nth-child(1) span,.solutions li:nth-child(2) span,.solutions li:nth-child(3) span,.solutions .seemless-collab{
      width: 305px;
    }

}

@media (max-width: 1199.98px) { 
  /*-----careers-page-----*/
  .bg-style-b {
    left: -589px;
    bottom: 150px;
  }
  /*----end-careers-page-----*/

/* index start  */
  .navbar-nav .nav-link,.btn-primary{font-size: 17px;}
  .inner-content h4 {
    font-size: 30px;
  }
  .inner-content p {
    font-size: 18px;
  }
  .hero-content h1 {
    font-size: 59px;
  }
  .hero-content h6 {
    font-size: 27px;
  }

  /* index end */

  /* about style */

  .services.abt-services .inner-content{
    padding: 20px !important;
  }
  .abt-services .inner-content{
    padding: 20px;
  }

  /* about style end */

  /* products style */

  .products-banner-bg {
    height: 760px;
  }
  .inner-topcontent h1 {
    font-size: 50px;
  }
  .inner-topcontent p {
    font-size: 20px;
  }
  .inner-content h2 {
    font-size: 32px;
  }
  .products-banner-bg {
    height: 600px;
  }

  /* products style end */

.accordion-button{
  font-size: 24px;
}
.inner-content h3 {
  font-size: 40px;
}

.solutions li:nth-child(1) span,.solutions li:nth-child(2) span,.solutions li:nth-child(3) span,.solutions .seemless-collab{
  width: 353px;
}

/*  team page  */
.team-banner {
  height: 775px;
}
.solutions-card::before {
  height: 175px;
  width: 189px;
  left: -80px;
  top: -60px;
}


/* projects page */

.projects-banner .inner-topcontent {
  max-width: 433px;
}

.contact-banner-form {
  margin-bottom: 230px;
}


}

@media (max-width: 1530px) {
  .team-card::before,  .solutions-card::before {
    display: none;
}

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .highlight-img{
    width: 9%;
  }
  .services .inner-content h4 {
    font-size: 24px;
  }
}


 @media (max-width: 991.98px) { 


  .TeamBody .inner-content{
    text-align: left !important;
  }
  .leaderPopUp{
    padding: 0px 10px !important;
  }

.book-name{display: block; font-size: 1rem; font-style: italic;}
/* .page-header.is-sticky{display: none !important;} */
  .activepage{
    background-image: var(--gradiet, linear-gradient(95deg, #BF1AA5 1.7%, #FF8785 92.88%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500 !important;
  font-size: 18px;
  border-bottom: none !important;
  }

  .home-nav .nav-link {
    color: #000 !important;
  }

   /*-----careers-page-----*/
   .Recruitment {
    margin-top: 115px;
  }
  .accordion-body p{text-align: left;}
  .bg-style-b {
    left: -407px;
    bottom: 0px;
    width: 88%;
  }
  .careers-side-img{
    display: none;
  }
    /*----end-careers-page-----*/

  /* index start */

.service-img{
  padding: 30px;
}

  .menu{
    backdrop-filter: blur(20px);
    background: #fff;
  }
  .hero-content{text-align: center;}
  .hero-content h6{max-width: 100%;}
  .footer-info{margin: auto;text-align: center;}
  .flogo{margin: auto;display: flex;}
  .navbar-toggler{background-color: #fff;}
  .new-client{left: 0;}
  .explore-wrapper .inner-content h3 {
     font-size: 50px;
  }
  .home-banner{
    height: auto;
  }
  .fileflow-wrapper,.sdk-warpper{
    padding: 30px;
  }
  .fileflow-wrapper, .sdk-warpper {
    height: 730px;
  }
  .inner-content h4 {
    font-size: 35px;
  }
 .inner-content{text-align: center;}
  .explore-wrapper .inner-content h3 {
    max-width: 100%;
  }
  .store-wrapper h4 {
    max-width: 100%;
  }
  .explore-wrapper .inner-content p{margin: auto;}
  .inner-content p {
    font-size: 19px;
  }
  .store-wrapper button,.store-wrapper p{margin: auto;}

  .copy-right{text-align: center;}

  header .navbar-brand{
    width: 25%;
  }

  /* index end */

  /* about style start */


  .about-info{text-align: center;}

  .about-head .inner-content p {
    margin: auto;
  }
  .explore-head h2 {
    font-size: 50px;
  }
  .explore-head p {
    font-size: 22px;
  }
  .abt-circle {
    height: 350px;
  }
  .our-story{
    margin-top: 40px;
  }

/* about style end */

/* products style */

.products-banner-bg{
  background-image: url(../images/mobilecircle.jpg);
  height: 600px;
}

.inner-topcontent{
  text-align: center;
}
.products-banner-bg .inner-topcontent p{margin: auto;}

.fileflow-body {
  margin: 20px 0px;
}
.inner-content h2 {
  font-size: 32px;
}
.solutions .inner-content {
  text-align: left;
}

.faq .accordion-body p{
  text-align: left;
}
.contact-banner-form {
  padding-top: 170px;
  background-size: contain;
 }

 .contact-banner-form .card {
  margin-top: 75px;
}
.faq{
  margin-top: 130px;
}
.blue-star img,.red-star img{
  width: 50%;
}
.inner-content h3 {
  font-size: 35px;
}
.contact-banner-form {
  margin-bottom: 150px;
}

/* team page */

.team-banner {
  height: 600px;
}
.our-leadership {
  margin-top: -20px;
  margin-bottom: 0px;
}

/* team style */

.team-card::before,.solutions-card::before{
  display: none;
}
.team-card{
  margin-left: 0px;
}
.solutions-card{
  margin-right: 0px
}

/* projects page */

.projects-banner-container {
  padding-top: 75px;
}
.projects-banner{
  background-size: contain;
}
.projects-banner-r{
  text-align: center;
}

.projects-banner-r img{
  width: 60%;
}
.software-solutions{
  text-align: center;
}
.need-help p {
  max-width: 535px;
}
.dev-future{
  background-image: url(../images/future-mobile.jpg);
}

}

@media only screen and (min-width:767.99px){
  .img_position{
    position: absolute;
  }
}

 @media (max-width: 767.98px) {

  .TeamBody .inner-content {
    text-align: center !important;
    padding: 20px 10px 0px;
  }

  .leaderPopUp .inner-content p {
    max-width: 500px;
    margin: auto;
  }

  .leaderPopUp ul{
    justify-content: center;
    margin-top: 10px;
  }

  .img_position img{
    width: 60%;
  }
  .TeamBody{
    height: auto !important;
  }
  .Recruitment {
    margin-top: 65px;
  }
  .service-img {
    padding: 25px;
  }
  .inner-content h2 {
    font-size: 28px;
  }
.logo-inner{
  width: 50%;
}
.flogo{width: 60%;}

.inner-topcontent h1 {
  font-size: 40px;
}
.faq {
  margin-top: 260px;
}
.blue-star,.red-star{
  display: none;
}
.accordion-button {
  font-size: 21px;
}
header .navbar-brand {
  width: 30%;
}

/* team style */

.team-card {
  padding: 50px 0px 0px;
}
.join-team{
  padding: 25px;
}

.software-solutions {
  margin: 80px 0px;
}
.projects-banner .inner-topcontent {
  padding: 40px 0px;
}

.footer-info {
  font-size: 15px;
  margin-top: 20px !important;
}
.card label {
  font-size: 14px;
}

.explore-head h2 {
  font-size: 45px;
}
.contact-banner-form {
  margin-bottom: 250px;
}

 }

 @media (max-width: 575.98px) {

  .accordion-item .btn-primary {
    font-size: 14px;
    padding: 10px 15px;
  }

  .dz-message {
    font-size: 16px;
  }

  .img_position img {
    width: 70%;
  }

  .TeamBody .inner-content h3 {
    font-size: 30px;
  }

  .leaderPopUp .inner-content p {
    font-size: 15px;
  }

  .leaderPopUp small span {
    font-size: 16px;
  }

  .career-banner {
    padding-top: 155px;
  }

  .modal-body .inner-content h4{font-size: 35px;}

  /* index page */

  .hero-content h1 {
    font-size: 35px;
  }
  .hero-content h6{
    font-size: 22px;
  }
 
  .about-text h6 {
    font-size: 24px;
  }
  .inner-content h4 {
    font-size: 24px;
  }
  .products-banner-bg {
    height: 345px;
  }
  .services .inner-content {
    padding: 20px;
  }
  .fileflow-wrapper, .sdk-warpper {
    height: 570px;
  }
  .explore-wrapper .inner-content h3 {
    font-size: 35px;
  }
  .products-wrapper {
    margin-top: 40px;
  }
  .explore-wrapper{margin-top: 50px;}

  .home-banner {
    padding: 150px 0px 80px;
  }
  .service-img {
    padding: 20px;
  }
  header .navbar-brand {
    width: 40%;
  }

 /* index end */


 .about-head .inner-content h1 {
  font-size: 25px;
}
.about-head small {
  font-size: 25px;
}
.about-head .about-info p {
  font-size: 14px;
}
.explore-head h2 {
  font-size: 30px;
}
.join-team {
  height: 295px;
  margin: 15px 0px 45px;
}
.about-head {
  padding: 15px;
}
.about-head .about-info h5 {
  font-size: 30px;
}
.about-head .about-info p {
  font-size: 12px;
}
.explore-head p {
  font-size: 16px;
}
.abt-circle {
  height: 249px;
}

.products-banner-bg {
  height: 540px;
}
.inner-topcontent h1 {
  font-size: 35px;
}

.inner-topcontent p {
  font-size: 18px !important;
}
.inner-content h2 {
  font-size: 24px;
}
.solutions li {
  gap: 0px;
}
.products-store {
  height: 290px;
}
.products-banner-bg {
  height: 380px !important;
}
.inner-topcontent{
  padding-top: 90px;
}

.accordion-button {
  padding: 25px 20px;
  font-size: 16px;
  }
.accordion-button img{
  width: 15%;
}
.faq {
  margin-top: 290px;
}
/* .inner-topcontent {
  padding-top: 10px;
} */
.inner-content h3 {
  font-size: 25px;
}

/* team style */


.team-banner .inner-topcontent {
  padding-top: 100px;
}
.team-banner {
  height: 430px;
}



/* projects page */
.projects-banner .inner-topcontent {
  
  padding: 50px 0px;
}
.projects-banner-r img {
  width: 90%;
}
.need-help {
  height: 250px;
}

.menu-wrapper{
  text-align: center;
}

.our-leadership {
  margin-top: 25px;
}

.contact-banner-form .card {
  margin-top: 40px;
}
.contact-banner-form {
  margin-bottom: 160px;
}

 }
  @media (max-width: 400px) {
    .our-leadership {
      margin-top: 14px;
    }
  }
    .inner-topcontent p {
      font-size: 23px;
      margin-bottom: 40px;
    }
 
   
    .Recruitment {
      margin-top: 70px;
    }
 
      .Recruitment {
        margin-top: 50px;
      }

  
    .solutions li:nth-child(1) span,.solutions li:nth-child(2) span,.solutions li:nth-child(3) span,.solutions .seemless-collab{
      width: 445px;
    }
    
    .solutions .inner-content h5 {
      font-size: 21px;
    }

    /* .accordion-button img{
      width: 15%;
    } */

    .contact-banner-form {
      margin-bottom: 200px;
    }
  

  @media (max-width: 991px) {
    .speech-bubble  {text-align: center !important;}
    .speech-bubble cite {text-align: center !important;}
  }
  .book-name{ font-style: italic; font-size: 1rem; display: block; text-align: center;}